<!----Footer Section Started-->
<h1>Welcome to the Resturement</h1>
<h2>Scroll Down to bottom</h2>

<!--  FOOTER START -->

<div class="footer">
  <div class="inner-footer">

    <!--  for company name and description -->
    <div class="footer-items">
      <h1>Satyam Resturement</h1>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint explicabo culpa
        exercitationem enim incidunt pariatur mollitia ut fugiat! In, qui.</p>
    </div>

    <!--  for quick links  -->
    <div class="footer-items">
      <h3>Quick Links</h3>
      <div class="border1"></div>
      <!--for the underline -->
      <ul>
        <a href="#">
          <li>Home</li>
        </a>
        <a href="#">
          <li>Search</li>
        </a>
        <a href="#">
          <li>Services</li>
        </a>
        <a href="#">
          <li>About</li>
        </a>
      </ul>
    </div>

    <!--  for some other links -->
    <div class="footer-items">
      <h3>Recipes</h3>
      <div class="border1"></div>
      <!--for the underline -->
      <ul>
        <a href="#">
          <li>Indian</li>
        </a>
        <a href="#">
          <li>Chinese</li>
        </a>
        <a href="#">
          <li>Mexican</li>
        </a>
        <a href="#">
          <li>Italian</li>
        </a>
      </ul>
    </div>

    <!--  for contact us info -->
    <div class="footer-items">
      <h3>Contact us</h3>
      <div class="border1"></div>
      <ul>
        <li><i class="fa fa-map-marker" aria-hidden="true"></i>Shubham Tiwari</li>
        <li><i class="fa fa-phone" aria-hidden="true"></i>6377753007</li>
        <li><i class="fa fa-envelope" aria-hidden="true"></i>shubhamtiwari8047@gmail.com</li>
      </ul>

      <!--   for social links -->
      <div class="social-media">
        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-google" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>

  <!--   Footer Bottom start  -->
  <div class="footer-bottom">
    Copyright &copy; Food and Burps 2021.
  </div>
</div>



<!----Footer Section Ended-->
