<div class="row">
  <div class="col-12">
    <h2 class="text-center">Find the Best Food</h2>
  </div>
  <div class="col-12">
    <div class="row">
      <div class="col-md-4">
        <img
          src="https://media.istockphoto.com/vectors/through-open-door-you-can-see-courier-on-bicycle-against-the-city-vector-id1327202289?k=20&m=1327202289&s=612x612&w=0&h=hNxDfkFyStWTyxMBXhJhlsxdcyT6-HXFPhTy80be5lI="
          alt="">
        <hr>
      </div>
      <div class="col-md-4">
        <img
          src="https://media.istockphoto.com/vectors/delivery-order-during-quarantine-to-door-delivery-man-of-food-vector-id1319799438?k=20&m=1319799438&s=612x612&w=0&h=TnGwFX90pj8SB76qkUGoKpm6-2OlnfjzKIQakF9YPW0="
          alt="">
        <hr>
      </div>
      <div class="col-md-4">
        <img
          src="https://media.istockphoto.com/vectors/mask-courier-on-the-doorstep-delivery-of-food-or-goods-vector-id1314455282?k=20&m=1314455282&s=612x612&w=0&h=VIGKsfi6L65nMkIVQLd4joQgeGEyQKdKjo9bL2NBhn0="
          alt="">
        <hr>
      </div>
      <div class="col-md-4">
        <img
          src="https://media.istockphoto.com/vectors/card-celebrity-lifestyle-luxury-characters-with-gold-cards-get-vector-id1319732285?k=20&m=1319732285&s=612x612&w=0&h=M86O3ssSFoLoSW6s2CDMN7DmH9inepSUL-vjJqGftnU="
          alt="">
        <hr>
      </div>
      <div class="col-md-4">
        <img
          src="https://media.istockphoto.com/vectors/concept-of-doortodoor-delivery-banner-for-food-or-goods-vector-id1315312396?k=20&m=1315312396&s=612x612&w=0&h=ouc6iCCZutmJ-8k7fFG7_GrA7-zoWm_pRpjShtx74ic="
          alt="">
        <hr>
      </div>
      <div class="col-md-4">
        <img
          src="https://media.istockphoto.com/vectors/toilet-sign-wc-icon-set-isolated-on-blue-background-male-female-and-vector-id1179865021?k=20&m=1179865021&s=612x612&w=0&h=_wcaVvs42GndXqdhSxWdODylgl9T-vWu6MD-H0D9GNQ="
          alt="">
        <hr>
      </div>
    </div>
  </div>
</div>
