<div class="row">
  <div class="col-md-12">
    <h2 class="text-center">
      The Restaurant
    </h2>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis suscipit quod enim sunt quas
    doloribus, eos delectus labore rerum eum magni blanditiis veniam ullam dolor et, dolore magnam
    incidunt quibusdam.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error consequuntur odit expedita
    cupiditate rerum provident? Aliquid exercitationem atque consequatur ullam natus tenetur optio
    impedit, itaque delectus vero voluptatum ratione sunt, iste laboriosam nobis nesciunt.
  </div>
  <div class="col-md-12">
    <img src="https://b.zmtcdn.com/data/reviews_photos/015/cd98740dd75b19eec762fb40f8ed6015.jpg"
      class="align-center" alt="">
  </div>
</div>
