<div class="row">
  <div class="col-12">
    <h2 class="text-center">Meet Our Chef</h2>
  </div>
  <div class="col-md-6 col-12">
    <div class="card" style="width: 18rem;">
      <img src="https://cdn.pixabay.com/photo/2017/08/01/07/57/people-2563341_960_720.jpg"
        class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Shubham Tiwari</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk
          of the card's content.</p>
        <a href="#" class="btn btn-primary">Get Now</a>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-12">
    <div class="card" style="width: 18rem;">
      <img
        src="https://media.istockphoto.com/photos/friends-gathering-in-pub-watching-a-soccer-game-picture-id1193505243?k=20&m=1193505243&s=612x612&w=0&h=pFkOgVtLNsVRdVDX5LLXy5TnIT3jwYaK8PjMbN_e_qE="
        class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Satyam Tiwari</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk
          of the card's content.</p>
        <a href="#" class="btn btn-primary">Get Now</a>
      </div>
    </div>
  </div>


  <div class="col-md-6 col-12">
    <div class="card" style="width: 18rem;">
      <img
        src="https://media.istockphoto.com/photos/young-couple-entering-japanese-izakaya-picture-id1153738814?k=20&m=1153738814&s=612x612&w=0&h=zUEzG_dvcOHZPZvB0Ey5AdtX8BWtB88HsIUBszCME6I="
        class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Aman Verma</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk
          of the card's content.</p>
        <a href="#" class="btn btn-primary">Get Now</a>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-12">
    <div class="card" style="width: 18rem;">
      <img
        src="https://media.istockphoto.com/photos/two-business-people-entering-restaurant-picture-id1132071585?k=20&m=1132071585&s=612x612&w=0&h=yxF_04N_P8ocEYbovUMDnSUngqhV1KWHjb2aUrR9hyw="
        class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Stuti Gupta</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk
          of the card's content.</p>
        <a href="#" class="btn btn-primary">Get Now</a>
      </div>
    </div>
  </div>
</div>
